body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
    color: mediumvioletred;
}
h3{
    font-size: 30px;
    font-weight: 400;
}
p{
    color: dimgray;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 7%;
}
#part-one{
    margin-top: 133px;
}
.half-width img{
    width: 100%;
}
.first-banner{
    background-image: url(images/header-bg.png);
    background-repeat: none;
}
section{
    height: 800px;
}
#part-two{
    margin-top: 133px;
}
#part-two h3{
    font-size: 25px;
}
.biography-banner{
    background-image: url(images/biography-bg.png);
    background-repeat: none;
}
.button{
    text-decoration: none;
    background-image:linear-gradient(212deg, mediumvioletred,violet);
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 800;
    color: white;
}

.latest-works{
    width: 100%;
}
.latest-works h2 {
    text-align: center;
    font-size: 29px;
    font-weight: 600;
}
.latest-works img {
    width: 450px;
    height: auto;
    float: left;
    box-shadow: 0 0 black;
    padding: 20px 20px;
    margin-left: 11px;
}
.clients-words{
    background-image: url(images/footer-bg.png);
    background-repeat: none;
    padding: 30px ;
}
.clients-words h2 {
    text-align: center;
    font-size: 29px;
    font-weight: 600;
}
.founder-ceo{
    text-align: center;
}
.founder-ceo p {
    font-size: 14px;
    font-weight: 505;
    color: #7270707a;
}
.words{
    text-align: center;
    color: dimgray;
    font-weight: 500;
}

.box {
    width: 600px;
    height: 120px;
    background-color: #ff3c89;
    margin: auto;
    border-radius: 10px;
}
.box p {
    font-size: 12px;
    color: white;
    text-align: center;
    padding-top: 30px;
}
.box h5 {
    color: white;
    text-align: center;
    font-size: 15px;
}
footer{
    text-align: center;
    margin-top: 150px;
}